*.DS_Store
TP2/.ipynb_checkpoints/teste-checkpoint.ipynb
TP2/.ipynb_checkpoints/balanceDataset-checkpoint.ipynb
TP2/.ipynb_checkpoints/firstApproach-checkpoint.ipynb
TP2/.ipynb_checkpoints/Untitled-checkpoint.ipynb
TP2/.ipynb_checkpoints/data_transformation-checkpoint.ipynb
TP2/.ipynb_checkpoints/featureSelection-checkpoint.ipynb
TP2/.ipynb_checkpoints/dataset_balancing-checkpoint.ipynb
TP2/.ipynb_checkpoints/feature_selection-checkpoint.ipynb
TP2/.ipynb_checkpoints/grid_search-checkpoint.ipynb
