*.DS_Store
TP2/.ipynb_checkpoints/teste-checkpoint.ipynb
TP2/.ipynb_checkpoints/balanceDataset-checkpoint.ipynb
TP2/.ipynb_checkpoints/firstApproach-checkpoint.ipynb
TP2/.ipynb_checkpoints/Untitled-checkpoint.ipynb
TP2/.ipynb_checkpoints/data_transformation-checkpoint.ipynb
